*{margin:0;padding:0;color:#444;}

body{width:961px;margin:0 auto;border-top:6px solid #444;}
p{font-family:georgia;margin:10px 0;line-height:1.5em;}
h1{font:bold 48px Arial;text-transform:uppercase;color:#89d070;}
h2{font:bold 32px Arial;text-transform:uppercase;color:#33ccff;}

#head img{border:none;}

.sect img{border:8px solid #252525;}
.sect img:hover{opacity:0.6;}

#head{margin:0 1em 0 7.5em;}
#main, #footer{margin:10px 10px 10px 0;}

.main a{text-decoration:none;padding:5px;background:#444;color:white;}
.main a:hover{color:#89d070;}
.main p{font-size:24px;}

.sect{width:290px;float:left;margin:1em 0.8em 0 0;}
.sect h2{color:#777;font-size:24px;}
.sect p{font:17px georgia;margin:10px 0;}
.sect p a{font:100% georgia;text-decoration:none;color:#444;background:white;border-bottom:thin dotted #444;padding:0;}

#head h1{text-shadow:2px 2px 1px;}

#menu{position:absolute;margin:-2em 0 0 15em;}
.menu li{display:inline;margin-right:2em;text-transform:uppercase;}
.menu li a{text-decoration:none;font:bold 24px Helvetica;color:#444;}
.menu li a:hover{color:#3399ff;}

.main{margin:2em 0 0 0;}

.big{font:bold 90px Arial;text-transform:uppercase;color:#444;line-height:0.8em;padding:0.6em 0 0.1em 0;margin:10px 0;}
.big:first-line{color:#ffc800;}
.quote{border-top:thin dotted #333;border-bottom:thin dotted #333;display:block;padding:15px 0;width:50%;margin:0 auto;text-align:center;font-style:italic;}

.spacer{margin:3em 0 1em 0;}

#aftflt{padding:3em 0 1em 0;clear:both;}
#aftflt p{font-size:20px;}

#footer{padding:3em 0;min-height:100px;border-top:6px solid #444;font:14px Arial;text-align:right;}
#footer li{display:inline;list-style:none;margin:0 1em 0 0;text-transform:uppercase;}
#footer li a{text-decoration:none;}
#footer li a:hover{color:#3399ff;}